@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
@import 'swiper/css';
@import 'swiper/css/pagination';

@plugin "tailwindcss-animate";

:root {
  --font-main: var(--font-jakarta);
  --shadow-nav: inset 0 -1px 0 0 #BCCCDC;
  --shadow-dropdown: 0px 4px 6px 0px rgba(3, 7, 18, 0.05), 0px 10px 15px -3px rgba(3, 7, 18, 0.10);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(4.57, -0.27, 0.73);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(20.42% 0.0019 106.57);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(50.3 0.66 70.7);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-500: #6b7280;
  --color-gray-600: #4B5563;
  --color-gray-900: #111827;
  --color-blue-500: #3B82F6;
  --color-blue-600: #2563EB;
  --color-blue-800: #1E40AF;
  --color-violet-800: #5B21B6;
  --color-violet-900: #4C1D95;
  --color-yellow-300: #FDE047;
}

@layer base {
  :root {
    --font-size-d1: 90px;
    --line-height-d1: 92px;
    --font-size-d2: 75px;
    --line-height-d2: 80px;
    --font-size-d3: 60px;
    --line-height-d3: 68px;
    --font-size-h1: 48px;
    --line-height-h1: 52px;
    --font-size-h2: 40px;
    --line-height-h2: 44px;
    --font-size-h3: 32px;
    --line-height-h3: 40px;
    --font-size-h4: 25px;
    --line-height-h4: 32px;
    --font-size-b5: 20px;
    --line-height-b5: 28px;
    --font-size-b6: 16px;
    --line-height-b6: 24px;
    --font-size-b7: 14px;
    --line-height-b7: 20px;
    --padding-content: 88px;
  }

  @media (max-width: 1200px) {
    :root {
      --padding-content: clamp(32px, calc(31.818vw - 293.82px),88px);
    } 
  }

  @media (max-width: 1024px) {
    :root {
      --padding-content: 32px;
     }
  }

  @media (max-width: 768px) {
    :root {
      --font-size-d1: 68px;
      --line-height-d1: 72px;
      --font-size-d2: 56px;
      --line-height-d2: 60px;
      --font-size-d3: 48px;
      --line-height-d3: 52px;
      --font-size-h1: 40px;
      --line-height-h1: 44px ;
      --font-size-h2: 33px; 
      --line-height-h2: 40px;
      --font-size-h3: 28px;
      --line-height-h3: 36px;
    }
  }

  @media (max-width: 640px) {
    :root {
      --font-size-d1: 41px; 
      --line-height-d1: 44px;
      --font-size-d2: 37px;
       --line-height-d2: 44px;
      --font-size-d3: 33px;
      --line-height-d3: 40px;
      --font-size-h1: 29px;
      --line-height-h1: 36px;
      --font-size-h2: 26px;
      --line-height-h2: 32px;
      --font-size-h3: 23px;
      --line-height-h3: 32px;
      --font-size-h4: 20px;
      --line-height-h4: 28px;
      --font-size-b5: 18px;
      --line-height-b5: 24px;
      --padding-content: 24px;
    }
  }
}

@layer utilities {
  .text-d1 {
      font-size: var(--font-size-d1);
      line-height: var(--line-height-d1);
  }

  .text-d2 {
    font-size: var(--font-size-d2);
    line-height: var(--line-height-d2);
  }

  .text-d3 {
    font-size: var(--font-size-d3);
    line-height: var(--line-height-d3);
  }

  .text-h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
  }

  .text-h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
  }

  .text-h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
  }

  .text-h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
  }

  .text-b5 {
    font-size: var(--font-size-b5);
    line-height: var(--line-height-b5);
  }

  .text-b6 {
    font-size: var(--font-size-b6);
    line-height: var(--line-height-b6);
  }

  .text-b7 {
    font-size: var(--font-size-b7);
    line-height: var(--line-height-b7);
  }

  .padding-content {
    padding-left: var(--padding-content);
    padding-right: var(--padding-content);
  }

  .bg-hero-radial {
    background: radial-gradient(261.56% 115.75% at 67.7% 69.6%,
      #4912A0 0%,
      #4338CA 68.79%,
      #2E1065 100%
    );
  }

  .bg-custom-solutions {
    background:
      url('/images/about/custom-solutions.png'),
      linear-gradient(309deg, #5EEAD4 -81.73%, #FEF9C3 78.12%);
    background-size: cover;
    background-position: center;
  }
}

@theme {
  --breakpoint-tableBpSm: 34.875rem;
  --breakpoint-tableBpMd: 44.5rem;

  --breakpoint-productListXs: 25rem;
}

@theme inline {
  --font-main: var(--font-jakarta);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 1s linear infinite;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #E5E7EB;
  border-radius: 9999px;
  opacity: 1;
  transition: background-color 0.3s;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4B5563;
}
